@model IEnumerable<FilmModel>     

@{
    ViewData["Title"] = "Film Listesi";
}

<h2>Filmler</h2>
<br />
@if(TempData["Mesaj"] != null)
{
    <p class="bg-success text-white">@TempData["Mesaj"]</p>
}
<a asp-action="OlusturGetir">Yeni Film</a>

@if (Model != null && Model.Count() > 0)
{
    <p class="bg-info text-black">@Model.Count() kayıt bulundu</p>
}
else
{
    <p class="bg-warning text-black">Kayıt bulunamadı</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Açıklaması</th>
            <th>Vizyon Tarihi</th>
            <th>Imdb Puanı</th>            
            <th></th>
        </tr>        
    </thead>
    <tbody>
        @foreach (FilmModel film in Model)
        {
            <tr>
                <td>
                    @film.Adi
                </td>
                <td>
                    @film.Aciklamasi
                </td>
                <td>
                    @film.VizyonTarihi
                </td>
                <td>
                    @film.ImdbPuanı
                </td>                
                <td>
                    <a asp-action="Edit" asp-route-id="@film.Id">Düzenle</a>                  
                   &nbsp;|&nbsp;
                   <a asp-action="Details" asp-route-id="@film.Id">Detaylar</a>
                    &nbsp;|&nbsp;
                   <a asp-action="Delete" asp-route-id="@film.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>